{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Event Page{% endblock %}

{% block content %}
{% for event in events %}



<div class="event_div">
    <div class="eventimg_div">

        <img src="./static/default_image.jpg" alt="Event image">
    
    </div>
    <h1 class="event-title">{{ event.title }}</h1>
    <h3>Location: {{ event.location }}</h3>
    <h4>Category: {{ event.category }}</h4>
    
    <div>
        <h3>Date:{% if event.start_date == event.end_date %}
            {{ event.start_date }}
        {% else %}
            {{ event.start_date }} to {{ event.end_date }}
        {% endif %}</h3>

        <h4>Time: {{ event.start_time }} - {{ event.end_time }}</h4>
    </div>


    {% if event.paymentRequired == true %}
        <h3>Cost: ${{ event.paymentAmount }}</h3>
        {% else %}
        <h3>Free Event</h3>
    {% endif %}

<p>Description: {{ event.description }} This is a test.This is a test.
    This is a test.This is a test.This is a test.This is a test.This 
    is a test.This is a test.This is a test.This is a test.This is a 
    test.This is a test.This is a test.This is a test.This is a test.
    This is a test.This is a test.This is a test.This is a test.This is 
    a test.This is a test.This is a test.This is a test.This is a test.
    This is a test.This is a test.This is a test.</p>

<h4>Spots remaining: {{ event.capacity }}/{{ event.capacity }}</h4>

<button class="rsvp_button" id="submitBtn">RSVP here</button>



</div>
{% endfor %}
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='script.css') }}">

{% endblock %}
