{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Home Page{% endblock %}
{% block content %}
<!-- Sidebar -->
<div class="sidebar">
    <h2>Events</h2>
    <form method="GET" action="/">
    <div id="calendar">
       
            Date: <input type="date" name="event-date" value="">
        
    </div>

    <div class="filter-option">
        <input type="checkbox" id="entry-fee" name="entry-fee">
        <label for="entry-fee">Events with Entry Fee</label>
    </div>

    <div class="filter-option">
        <input type="checkbox" id="no-entry-fee" name="no-entry-fee">
        <label for="no-entry-fee">Events without Entry Fee</label>
    </div>
    {%if current_user.is_authenticated%}
    <div class="filter-option">
        <input type="checkbox" id="created-by-me" name="created-by-me">
        <label for="created-by-me">Events Created by Me</label>
    </div>
    {%endif%}
    <br>
    <div class="filter-option">
        <label for="category">Category</label>
        <select id="category" name="category">
            <option value="0">Any</option>
            <option value="6">Social</option>
            <option value="7">Educational</option>
            <option value="8">Fine Arts and Media</option>
            <option value="9">Fundraiser</option>
            <option value="1">Meeting</option>
            <option value="11">Service/Volunteer</option>
            <option value="2">Speaker/Lecturer</option>
            <option value="4">Recreational</option>
            <option value="14">Other</option>
        </select>
    </div>

   
    <button type="submit">Filter Events</button>
    </form>
    
    <form action="{{ url_for('main.create_event') }}" method="GET">
        <button type="submit">Create Your Own Event</button>
    </form>
</div>
<!-- End of Sidebar -->

<!-- start of website contents -->
<div class="container">
<!-- Renders all the events created with database -->
    {% for event in events %}
        <div class="item-container">
            <div class="img-container">
            <img src="./static/default_image.jpg" alt="Event image">
            </div>

            <div class="body-container">
                <div class="overlay"></div>
            
                <div class="event-info">
                    <p class="title">{{ event.title }}</p>
                    <div class="separator"></div>
                    <p class="info">{{ event.category.event_category }}</p>
                    <p class="price">${{ event.paymentAmount }}</p>
            
                    <div class="additional-info">
                        <p class="info">
                            <i class="fas fa-map-marker-alt"></i>
                            {{ event.location }}
                        </p>
                        <p class="info">
                            <i class="far fa-calendar-alt"></i>
                            {{ event.start_date }}
                        </p>
                        <p class="info description">
                            {{ event.description }}<span>more...</span>
                        </p>
                    </div>
                </div>
                <a href="index.html"></a>
                
                <form action="{{ url_for('main.homepage') }}" method="GET">
                    <button class="action">View Event</button>
                </form>
            </div>
        </div>
    {% endfor %}   
   <!-- placeholder events
    <div class="item-container">
        <div class="img-container">
            <img src="./static/img1.jpg" alt="Event image">
        </div>

        <div class="body-container">
            <div class="overlay"></div>

            <div class="event-info">
                <p class="title">Bubbe's Book Club</p>
                <div class="separator"></div>
                <p class="info">Library South</p>
                <p class="price">Free</p>

                <div class="additional-info">
                    <p class="info">
                        <i class="fas fa-map-marker-alt"></i>
                        100 Decatur St. SE, Atlanta, GA 30303
                    </p>
                    <p class="info">
                        <i class="far fa-calendar-alt"></i>
                        Sat, March 30, 10:00 AM EDT
                    </p>
                    <p class="info description">
                        Welcome! Everyone has a unique perspective after reading a book, and we would love you
                        to share yours with us! We meet one Sunday evening <span>more...</span>
                    </p>
                </div>
            </div>
            <a href="index.html"></a>
            
            <form action="{{ url_for('main.homepage') }}" method="GET">
                <button class="action">Book it</button>
            </form>
        </div>
    </div>

    <div class="item-container">
        <div class="img-container">
            <img src="./static/img2.jpeg" alt="Event image">
        </div>

        <div class="body-container">
            <div class="overlay"></div>

            <div class="event-info">
                <p class="title">Art Competition</p>
                <div class="separator"></div>
                <p class="info">Student Center East</p>
                <p class="price">$10</p>

                <div class="additional-info">
                    <p class="info">
                        <i class="fas fa-map-marker-alt"></i>
                        100 Decatur St. SE, Atlanta, GA 30303
                    </p>
                    <p class="info">
                        <i class="far fa-calendar-alt"></i>
                        Sat, March 30, 10:00 AM EDT
                    </p>

                    <p class="info description">
                        Welcome! Everyone has a unique perspective after reading a book, and we would love you
                        to share yours with us! We meet one Sunday evening <span>more...</span>
                    </p>
                </div>
            </div>
            
            <form action="{{ url_for('main.homepage') }}" method="GET">
                <button class="action">Book it</button>
            </form>
        </div>
    </div>

    <div class="item-container">
        <div class="img-container">
            <img src="./static/img3.jpg" alt="Event image">
        </div>

        <div class="body-container">
            <div class="overlay"></div>

            <div class="event-info">
                <p class="title">Resume Workshop</p>
                <div class="separator"></div>
                <p class="info">Library North</p>
                <p class="price">$12</p>

                <div class="additional-info">
                    <p class="info">
                        <i class="fas fa-map-marker-alt"></i>
                        100 Decatur St. SE, Atlanta, GA 30303
                    </p>
                    <p class="info">
                        <i class="far fa-calendar-alt"></i>
                        Sat, March 30, 10:00 AM EDT
                    </p>
                    <p class="info description">
                        Welcome! Everyone has a unique perspective after reading a book, and we would love you
                        to share yours with us! We meet one Sunday evening <span>more...</span>
                    </p>
                </div>
            </div>
            
            <form action="{{ url_for('main.homepage') }}" method="GET">
                <button class="action">Book it</button>
            </form>
        </div>
    </div>

    <div class="item-container">
        <div class="img-container">
            <img src="./static/img4.jpg" alt="Event image">
        </div>

        <div class="body-container">
            <div class="overlay"></div>

            <div class="event-info">
                <p class="title">Tech Conference</p>
                <div class="separator"></div>
                <p class="info">200 Landall hall</p>                    <p class="price">Free</p>

                <div class="additional-info">
                    <p class="info">
                        <i class="fas fa-map-marker-alt"></i>
                        100 Decatur St. SE, Atlanta, GA 30303
                    </p>
                    <p class="info">
                        <i class="far fa-calendar-alt"></i>
                        Sat, March 30, 10:00 AM EDT
                    </p>
                    <p class="info description">
                        Welcome! Everyone has a unique perspective after reading a book, and we would love you
                        to share yours with us! We meet one Sunday evening <span>more...</span>
                    </p>
                </div>
            </div>
            
            <form action="{{ url_for('main.homepage') }}" method="GET">
                <button class="action">Book it</button>
            </form>
        </div>
    </div>
-->
</div>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='script.css') }}">
{% endblock %}
